body {
    background-color: #EEEEEE;
}

#questionEditor {
    width: 100%;
}

#questionEditor > * {
    width: 100%;
}

#addAChoiceField {
    width: 100%;
}

#quiz {
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 11in;
    overflow: hidden;
    width: 8.5in;
}

#name {
    border-bottom: 2px solid black;
}

#directions {
    padding-top: 10px;
    width: 100%;
}

#directions > * {
    width: 100%;
}

.questions {
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin-left: 0px;
}

.question {
    padding-top: 10px;
    float: left;

    /* Modify width for columns, if it's too big then dnd breaks */
    width: 45%;
}

.column {
    height: 100%;
}

.clear {
    clear: both;
}

.choice-bullet {
    margin-left: 15px;
}

.placeholder {
    color: #DDD;
    background-color: #DDD;
    border-radius: 4px;
}

.editable {
    display: inline-block;
}

.editable > input {
    padding: 0px;
    padding-left: 5px;
}

.editable > span {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px;
}

.editable > * {
    min-width: 200px;
    display: inline-block;
}

