body {
    background-color: #EEEEEE;
}

#quiz {
    color: black;
    width: 8.5in;
    height: 11in;
    background-color: white;
    border: 1px solid black;
}

#name {
    border-bottom: 2px solid black;
}

#directions {
    padding-top: 10px;
}

.questions {
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.question {
    padding-top: 10px;
    float: left;

    /* Modify width for columns, if it's too big then dnd breaks */
    width: 48%;
}

.column {
    height: 100%;
}

.choice {
    text-indent: 15px;
}

.clear {
    clear: both;
}

.placeholder {
    display: none;
}
