<!DOCTYPE HTML>
<html lang="en" ng-app='quiz'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Quickly Quiz</title>
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="css/quiz.css" type="text/css" media="all" charset="utf-8">
        <link rel="stylesheet" href="css/printfriendly.css" type="text/css" media="print" charset="utf-8">
        <script src="scripts/jquery-1.8.2.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/jquery-ui-1.9.1.custom.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/quiz.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h2 id="title">Quickly Quiz!</h2>
        <div class="container-fluid" ng-controller="QuestionControl">
            <div class="row-fluid">
                <div class="span3 hide-on-print">
                    <!-- editor sidebar-->
                    <div class="well">
                        <form ng-submit="" ng-controller="QuestionEditorControl" action="">
                            <fieldset>
                                <legend>Add a Question</legend>
                                    <span editable
                                         ng-init="questionEditor = true"
                                         editable-on="questionEditor"
                                         editable-done="questionEditor = false"
                                         ng-model="questionText"
                                         id="questionEditor"
                                         placeholder="Type a question"
                                         onfocus="$(this).find('input').select();"
                                         onkeypress="if (window.event.keyCode === 13){
                                             $(this).find('input').nextInput();
                                         }">
                                    </span>
                                <ol>
                                    <li ng-repeat="choice in choices">
                                        {{choice}}
                                        <i class="icon-remove" ng-click="removeChoice($index);"></i>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <input
                                            type="text"
                                            focus-on="ChoiceAddedEvent"
                                            ng-model="choiceText"
                                            placeholder="{{ (choices.length == 0) && 'Add a choice' || 'Add another choice'}}"
                                            onkeypress="if (window.event.keyCode === 13){
                                                angular.element(this).scope().$apply('addChoice()');
                                            }">
                                        </input>
                                    </li>
                                </ol>
                                <button type="button" class="btn btn-block btn-primary" ng-click="addQuestion()">Add this question</button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="well">
                        <form action="">
                            <fieldset>
                                <legend>Clear All Questions</legend>
                                <span class="help-block">Clears away all of the questions in this quiz.<em>This action cannot be undone.</em></span>
                                <div id="clearQuestionsModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">x</button>
                                        <h3>Really delete all questions?</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Are you sure that you want to delete all of the questions in your quiz? This
                                            cannot be undone.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn" data-dismiss="modal">No, Do not clear the questions</a>
                                        <a href="#" ng-click="clearQuestions();" class="btn btn-danger">Yes, Clear all of the questions</a>
                                    </div>
                                </div>
                                <a href="#clearQuestionsModel" class="btn btn-block btn-danger" data-toggle="modal">Clear all of the questions</a>
                            </fieldset>
                        </form>
                    </div>
                    <div class="well">
                        <form action="">
                            <fieldset>
                                <legend>Shuffle</legend>
                                <span class="help-block">Randomly shuffle the order of the answers to your
                                    questions.</span>
                                <button type="button" ng-click="shuffleChoices()" class="btn btn-block btn-primary">
                                    Shuffle all of the answers
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="well">
                        <form action="">
                            <fieldset>
                                <legend>Format</legend>
                                <label>Choices</label>
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <button ng-repeat="(name, bulletForIndex) in BULLET_STYLES"
                                        class="btn"
                                        ng-bind-html-unsafe="bulletForIndex(0)"
                                        ng-click="style.choices.bullet=name"
                                        ng-class="(style.choices.bullet == name) && 'active' || ''">
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn" style="font-family: {{style.font.style}};">{{style.font.name}}</button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="font in FONTS">
                                            <a ng-click="style.font=font" style="font-family: {{font.style}};">{{font.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <label>Question Order</label>
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <button ng-repeat="(name, order) in ORDERINGS"
                                        class="btn"
                                        ng-bind="name"
                                        ng-click="style.ordering=order"
                                        ng-class="(style.ordering == order) && 'active' || ''">
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="span9">
                    <!-- Quiz content-->
                    <div id="quiz" class="well" style="font-family: {{style.font.style}};">
                        <div id="name">Name: </div>
                        <div id="directions" ng-model="directions" editable></div>
                        <ul class="questions" ng-model="questions"
                            sortable placeholder="QUESTION_PLACEHOLDER" index-mapper="ordering.index"
                            fixed-heights>
                            <li ng-repeat="question in questions | reorder:ordering.data"
                                class = "question"
                                ng-init="editorFocus = [];"
                                ng-class="(question == QUESTION_PLACEHOLDER) && 'placeholder' || ''">
                                <div ng-mouseenter="showQuestionEditor=true;"
                                    ng-mouseleave="showQuestionEditor=false;">
                                    <span>{{ordering.index($index) + 1}}.</span>
                                    <span editable ng-model="question.text"></span>
                                    <span ng-show="showQuestionEditor">
                                        <i class="icon-remove" ng-click="removeQuestion(question);"></i>
                                        <i class="icon-plus" ng-click="addChoice(question, 0); editorFocus[0] = true;"></i>
                                    </span>
                                </div>
                                <div class="choices"
                                    ng-model="question.choices"
                                    sortable placeholder="CHOICE_PLACEHOLDER">
                                    <div ng-repeat="choice in question.choices"
                                         ng-init="showChoiceEditor=false;"
                                         ng-mouseenter="showChoiceEditor=true;"
                                         ng-mouseleave="showChoiceEditor=false;"
                                         class="choice">
                                        <span class="choice-bullet"
                                            ng-bind-html-unsafe="BULLET_STYLES[style.choices.bullet]($index)">
                                        </span>
                                        <span editable
                                              editable-on="editorFocus[$index]"
                                              editable-done="editorFocus[$index] = false"
                                              ng-model="question.choices[$index]">
                                        </span>
                                        <span ng-show="showChoiceEditor">
                                            <i class="icon-remove" ng-click="removeChoice(question, $index);"></i>
                                            <i class="icon-plus" ng-click="addChoice(question, $index + 1);
                                                editorFocus[$index + 1] = true;"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Needed for the list to space correctly -->
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
