<!DOCTYPE HTML>
<html lang="en" ng-app>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Quickly Quiz</title>
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="css/printfriendly.css" type="text/css" media="print" charset="utf-8">
        <script src="scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/quiz.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h2 id="title">Quickly Quiz!</h2>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 hide-on-print">
                    <!-- editor sidebar-->
                    <div class="well">
                        <form ng-controller="QuestionEditorControl" ng-submit="addQuestion()">
                            <fieldset>
                                <legend>Add a Question</legend>
                                <input type="text" ng-model="questionText" placeholder="Type a question here">
                                <ul>
                                    <li ng-repeat="choice in choices">
                                        {{choice}}
                                    </li>
                                    <input type="text" ng-model="choiceText" placeholder="Type a choice here">
                                    <button type="button" ng-click="addChoice()" class="btn"><i class="icon-plus"></i> Add this choice</button>
                                </ul>
                                <button type="submit" class="btn">Add this question</button>
                            </fieldset>
                        </form>
                    </div>
                    <button type="button" class="btn btn-large btn-primary">Shuffle the answers</button>
                </div>
                <div id="quiz" class="span9">
                    <!-- Quiz content-->
                    <div ng-controller="QuestionControl">
                        <div>
                            This quiz contains {{questions.length;}} questions. Good Luck!
                        </div>
                        <ul>
                            <li ng-repeat="question in questions">
                                <span>{{question.text}}</span>
                                <ul>
                                    <li ng-repeat="choice in question.choices">
                                        {{choice}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
